<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<link rel="stylesheet" href="../static/style.css">
<body>
    <!-- header start -->
    <header >
        <div class="logo">
            <a href="">
                <img src="../static/logo.png" alt="">
            </a>
        </div>
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/">History</a></li>
            <div class="logoutimage">
                <img src="../static/logout.png" alt="">
                <li><a href="">Logout</a></li>
            </div>
        </ul>
    </header>
    <!-- header complete -->

        <form action="/home" class="mainbody">
        <p>Paste a review you want to authenticate</p>
            <textarea placeholder="Paste the review" name="text" id="" cols="100" rows="10"></textarea>
            <button type="submit">Check</button>
        </form>
        <br>
        <h4 align="center"><b>{{ pred }}</b></h4>
    <!-- footer start -->
    <footer>
        <div class="main-footer">
            <img src="../static/logo.png" alt="">
            <div class="social">
                <a href=""><img src="../static/facebook-app-symbol.png" alt=""></a>
                <a href=""><img src="../static/instagram.png" alt=""></a>
            </div>
        </div>
        <div class="cpyright">
            © 2024 ReviewGuard|All Right Reserved 
        </div>
    </footer>
    
</body>
</html>