*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin-left: 20px;
}
ul{
    display: flex;
    margin-right: 5%;
}
ul li{
    margin: 0px 10px;
    list-style-type: none;
}
ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.logoutimage img{
    height: 15px;
    width: 10px;
    position: absolute;
    left: -2px;
}
.logoutimage{
    display: flex;
    align-items: center;
    position: relative;
}
ul li a:hover{
    color:rgba(31,163,248) ;
}
.mainbody p{
    margin-bottom: 10px;
    font-size: 20px;
}
.mainbody{
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mainbody textarea{
    width: 70vw;
}
.mainbody button{
    margin-top: 20px;
    width: 90px;
    cursor: pointer;
    height: 30px;
    color: white;
    border-radius: 8px;
    background-color:  rgba(31,163,248);
}

.mainbody button:hover{
    background-color:  rgba(31,163,248,0.85);
}
.main-footer{
    margin: auto;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer .main-footer .social img{
    height: 25px;
    width: auto;
    margin: 0px 10px;
}
.cpyright{
    margin-top: 10px;
    text-align: center;
    font-size: 13px;
}
footer{
    margin-top: 80px;
}
@media (max-width:540px){
    header{
        flex-direction: column;
    }
    .mainbody p{
        font-size: 15px;
    }
}
@media (max-width:400px) {
    .main-footer img{
        width: 150px;
    }
}